@import "tailwindcss";
@plugin "daisyui";


@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #9F62F2;
  --color-secondary: white;
}

.btn-gradient {
  @apply text-white border-none bg-gradient-to-r from-[#632EE3] to-[#9F62F2];
}

.btn-gradient:hover {
  @apply from-[#7544E8] to-[#A97AF5];
}
.text-st {
  background-image: linear-gradient(to right, #632EE3 0%, #9F62F2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* show the gradient through the text */
}
.border-st {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #632EE3, #9F62F2);
  border-image-slice: 1;
}


.bg-st {
  
  background-color: #632EE3;
  background-image: linear-gradient(to right, #632EE3 0%, #9F62F2 100%);
  background-repeat: no-repeat;
  background-size: cover;
}